/* Let's donate */
header{
    text-align: center;
    background-image: url('../images/donation13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background: cover;
    }
.design-item{
    font-weight: 700px;
    font-size: 65px;
    padding: 107px 300px 0px 300px;
    color: white;
    
}
.design-description{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0px 350px 20px 350px;
 
}
.btn-color{
    color: white;
    background-color: palevioletred;
    font-size: 20px;
    padding: 17px 25px;
}
